<!DOCTYPE html>
<html>
  <head>
    <title><%= Config.name %></title>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js", 
      "jquery.tooltip.min.js" %>
    <%= get_style_contents %>
  </head>
  <body>
    <header>
      <h1><%= link_to Config.name, root_path %></h1>
      <p><%= Config.subtitle %></p>
    </header>
    
    <section>
      <%= yield %>
    </section>
    
    <footer>
      &copy;<%= Time.now.year + " " + Config.name %><br />
      Powered by Quack &beta;1
    </footer>
  </body>
</html>