<% content_for :title do %>
  <h2>Listing all pages</h2>
<% end %>

<% @posts.each do |post| %>
  <div class="post-li">
    <span class="type"><%= post.feather.humanize %>:</span> 
    <%= render :partial => "feathers/#{post.feather}/list_item", :locals => { :post => post } %>
    <span class="date"><%= post.created_at.strftime Config.time_format %></span>
  </div>
<% end %>

<% if @posts.length < 1 %>
  <p><em>Sorry, no posts could be found.</em></p>
<% end %>

<% content_for :actions do %>
  <div id="links">
    <%= link_to "Create new post", "#", :id => "new-post-show" %> |
    <%= link_to "Log out", logout_url, :class => "delete", :confirm => "Are you sure?" %>
  </div>
  <%= render :partial => "new_post" %>
<% end %>