<!DOCTYPE html>

<html>
  <head>
    <%= csrf_meta_tag %>
    <title>Quack</title>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js",
      "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js", "rails", "application" %>
    <%= stylesheet_link_tag "screen", "juni" %>
  </head>
  <body>
    <% if flash[:notice] %>
      <div id="flash"><%= raw flash[:notice] %></div>
    <% end %>
    
    <header>
      <h1>Quack: <strong><%= Config.name %></strong></h1>
    </header>
    
    <div id="action-bar">
      <%= yield :actions %>
    </div>
    
    <div id="page-title"><%= yield :title %></div>
    
    <section>
      <%= yield %>
    </section>
    
    <footer>
      Powered by Quack &beta;1
    </footer>
  </body>
</html>